{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список проектов</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}">
</head>
<body>
   <div class="container">
        <h1>Список проектов</h1>
        <ul>
            {% for project in projects %}
                <li>
                    <a href="{% url 'project_detail' project.pk %}">{{ project.project_name }}</a>
                    <p>{{ project.description }}</p>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'profile' %}">Вернуться назад в профиль</a>
   </div>
</body>
</html>